<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project Page</title>
</head>
<body>
  <h1>{{> header}}</h1>
  Here are the projects I've worked on:
  {{> footer}}
</body>
</html>